* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
.conteiner {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
.information {
  background-color: #dddddd;
  max-width: 1600px;
  width: 100%;
  height: 900px;
  margin: 0 auto;
  padding: 15px;
}
.info-header {
  display: flex;
  justify-content: space-between;
}
.p-roca {
  font-size: 45px;
  line-height: 55px;
}
.p-resume {
  color: #b3b3b3;
  font-size: 13px;
}
.number {
  font-size: 158px;
  letter-spacing: 4.75px;
  line-height: 150px;
  position: relative;
  color: #6e6c6c;
}
.about {
  font-size: 43px;
  letter-spacing: 1.3px;
  line-height: 52px;
  position: absolute;
  color: #242424;
  top: 55px;
}
.headercontent {
  display: flex;
  justify-items: center;
}
.img {
  width: 800px;
  height: 600px;
}

.aboutmyself {
  display: flex;
}
.aboutmyself {
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.hi {
  font-size: 50px;
  letter-spacing: 0.75px;
  line-height: 78px;
  color: #212121;
}
.doe {
  font-size: 71px;
  letter-spacing: 1.06px;
  line-height: 78px;
}
.disigner {
  font-size: 23px;
  line-height: 64px;
}
.pic {
  width: 27px;
  margin-left: 10px;
}
.satisfied {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.clients {
  font-size: 24px;
  line-height: 32px;
  color: #e93656;
  padding-bottom: 15px;
  border-bottom: 5px solid #e93656;
}
.black {
  color: #212121;
}
