* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.conteiner {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}
.information {
  background-color: #dddddd;
  max-width: 1600px;
  width: 100%;
  height: 750px;
  margin: 0 auto;
  padding: 15px;
}
.info-header {
  display: flex;
  justify-content: space-between;
}
.p-roca {
  font-size: 45px;
  line-height: 55px;
  font-family: "Poppins-ExtraBold";
}
.p-resume {
  color: #b3b3b3;
  font-size: 13px;
  font-family: "Montserrat-Regular";
}
.number {
  font-size: 158.3px;
  letter-spacing: 4.75px;
  line-height: 150px;
  position: relative;
  color: #242424;
  font-family: "Poppins-ExtraBold";
}
.about {
  font-size: 43px;
  letter-spacing: 1.3px;
  line-height: 52px;
  position: absolute;
  color: #6e6c6c;
  top: 55px;
  font-family: "Poppins-ExtraBold";
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.slide-img {
  width: 430px;
  height: 603px;
  margin-top: 138px;
}
.headercontent {
  display: flex;
  justify-content: center;
  margin-bottom: 170px;
  margin-top: 100px;
  margin-left: 100px;
}

.aboutmyself {
  display: flex;
}
.aboutmyself {
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.hi {
  font-size: 50px;
  letter-spacing: 0.75px;
  line-height: 78px;
  color: #212121;
  font-family: "Regular";
}
.name {
  font-size: 71px;
  letter-spacing: 1.06px;
  line-height: 78px;
  font-family: "Bold";
}
.disigner {
  font-size: 23px;
  font-family: "Regular";
}
.pic {
  width: 27px;
  margin-left: 10px;
}
.satisfied {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.clients {
  font-size: 24px;
  line-height: 32px;
  color: #e93656;
  padding-bottom: 15px;
  border-bottom: 5px solid #e93656;
  font-family: "Montserrat-Bold";
}
.black {
  color: #212121;
}
.myinfo {
  display: flex;
  justify-content: center;
}
.my-info-content {
  max-width: 334px;
  height: 369px;
  text-align: right;
  margin-right: 65px;
  margin-top: 218px;
}
.fullname {
  font-size: 40px;
  margin-bottom: 5px;
  color: #222222;
  font-family: "Bold";
}
.job-info {
  font-size: 14px;
  color: #daae19;
  margin-bottom: 33px;
  font-family: "Muli";
}
.biography {
  width: 334px;
  height: 149px;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.45px;
  margin-bottom: 53px;
  font-family: "Muli-Regular";
}
.hireme {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  width: 152px;
  height: 50px;
  font-size: 15px;
  line-height: 29px;
  text-align: right;
  color: #ffffff;
  background-color: #e93656;
}

.skill-bars {
  margin-top: 190px;
  margin-left: 70px;
  padding: 25px 30px;
  width: 300px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.skill-bars .bar {
  margin: 45px 0;
}
.skill-bars .bar:first-child {
  margin-top: 15px 0;
}
.skill-bars .bar .info {
  margin-bottom: 15px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 20px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
  font-family: "Bold";
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.percent {
  color: #e93656;
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #e93656;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bar .progress-line.Design span {
  width: 80%;
}
.bar .progress-line.photography span {
  width: 65%;
}
.bar .progress-line.Marking span {
  width: 50%;
}
.bar .progress-line.Photoshop span {
  width: 30%;
}

.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.img-icons {
  display: flex;
}
.icon-div {
  padding: 15px 15px;
}

.icon-div .icon-a .icon-img {
  justify-content: center;
  align-items: center;
}
.icon-img {
  width: 25px;
  height: 25px;
}
.icon-div:hover {
  background-color: #15263e;
}
.contact {
  margin-top: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #131a36;
  margin-bottom: 200px;
}
.contact-img {
  padding: 30px;
  border: 2px dashed #ffffff;
  border-radius: 50%;
  margin-right: 30px;
}
.cont {
  display: flex;
  align-items: center;
  margin-right: 60px;
}
.cont-imgs {
  width: 30px;
  height: 30px;
}
.contact-img:hover {
  cursor: pointer;
  background-color: #e93656;
  transition: 500ms linear;
  opacity: 1;
}
.slide4-job {
  font-size: 25px;
  letter-spacing: 0.75px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 15px;
  font-family: "Bold";
}
.cont3-p {
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 24px;
  color: #dfdfdf;
  font-family: "Muli";
}
.service {
  display: grid;
  grid-template-columns: 285px 285px 285px 285px;
  gap: 10px;
  justify-content: center;
  margin-bottom: 160px;
}
.serviceicon {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
}
.service-title {
  font-size: 22px;
  letter-spacing: 0.44px;
  line-height: 28px;
  font-family: "Bold";
  color: #222222;
}
.service-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 285px;
  height: 360px;

  background-color: #fafafa;
}
.servive-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.servive-description:hover {
  opacity: 1;
  background-color: #15263e;
  color: #ffffff;
}
.decription-title {
  font-size: 22px;
  letter-spacing: 0.44px;
  line-height: 28px;
  margin-bottom: 20px;
  font-family: "Bold";
}
.description-text {
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.42px;
  line-height: 26px;
  font-family: "Muli";
}
.Recommendations {
  width: 100%;
  background-image: url("img/countdown-bg.png");
  height: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 144px;
}

.slider-wrapper {
  display: flex;
}
.slider-item {
  display: flex;
  display: none;

  opacity: 0;
  transition: opacity 0.5s;
}

.slider-item.active {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
}

.txt {
  max-width: 497px;
  height: 78px;
  text-align: right;
  margin-right: 65px;
  font-size: 15px;
  letter-spacing: 0.45px;
  line-height: 30px;
  font-family: "Roboto-Light";
}
.image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.tt {
  width: 39px;
  height: 26px;
  margin-bottom: 38px;
}
.slide4-img {
  padding: 15px;
  border: 2px dotted black;
  border-radius: 50%;
  margin-right: 65px;
}
.slide4-job {
  font-size: 13px;
  letter-spacing: 0.52px;
  font-family: "Roboto-Regular";
}
.slide4-job:hover {
  color: #e93656;
}
.slide4-name {
  font-size: 28px;
  letter-spacing: 0.84px;
  font-family: "Bold";
}
.ball {
  width: 13px;
  height: 13px;
  border: none;
  margin-top: 10px;
}
.ball:hover {
  background-color: #e93656;
}

.balls {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}
.latest-project {
  margin-bottom: 170px;
}
.section5-title {
  display: flex;
  justify-content: center;
  margin-bottom: 55px;
}
.section5-title h1 {
  font-size: 70px;
  line-height: 36px;
  margin-bottom: 55px;
  font-family: "Bold";
}
.projectbody {
  display: flex;
  justify-content: center;
}
.projects {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 0;
  margin-left: 30px;
}
.lists {
  background-color: #15263e;
  width: 240px;
  height: 401px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lists-ul {
}
.lists-ul li {
  font-size: 22px;
  line-height: 40px;
  color: #ffffff;
  font-family: "Bold";
}
.lists-ul li:hover {
  color: #e93656;
  cursor: pointer;
}
.project-imgs {
  width: 300px;
  height: 350px;
  display: block;
}
.project-contents {
  position: relative;
}
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.image__overlay:hover {
  opacity: 1;
}
.heart {
  width: 14px;
  height: 12px;
}
.image__title {
  font-size: 11px;
  letter-spacing: 0.33px;
  color: #dddddd;
  font-family: "Muli";
}
.heart-div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e93656;
  border-radius: 50%;
  margin-bottom: 17px;
  font-family: "Bold";
}
.image__description {
  font-size: 23px;
  margin-top: 8px;
}
.article-titles {
  display: flex;
  justify-content: center;
  text-align: center;
}
.news {
  font-size: 13px;
  color: #2ed279;
  font-family: "Bold";
}
.articles-content {
  display: flex;
  justify-content: center;
  font-family: "Bold";
}
.articles-title {
  font-size: 70px;
  margin-bottom: 80px;
}
.article-section1 {
  display: flex;
}
.article-section2 {
  display: flex;
}
.articl-section3 {
  display: flex;
}
.section-1-1 {
  max-width: 770px;
  width: 100%;
  height: 590px;
  padding-left: 30px;
  background-color: #fafafa;
}
.section-- {
  max-width: 770px;
  width: 100%;
  height: 590px;
  padding-right: 30px;
  background-color: #fafafa;
  padding-left: 50px;
}

.date {
  width: 120px;

  height: 590px;
  background-color: #15263e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Jaapokki";
}
.section-1-img img {
  width: 29px;
  height: 34px;
}
.date p {
  transform: matrix(0, -1, 1, 0, 0, 0);
  color: #e93656;
  font-size: 30px;
  letter-spacing: 0.9px;
  line-height: 40px;
  text-align: left;
}
.article-image img {
  width: 650px;
  height: 590px;
}
.section-1-img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 35px;
}
.section-1-img:hover {
  background-color: #e93656;
}
.article-p {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.12px;
  color: #888888;
  margin-bottom: 5px;
  font-family: "Muli";
}
.article-title {
  font-size: 40px;
  color: #161616;
  margin-bottom: 28px;
  font-family: "Bold";
}
.article-decription {
  font-size: 16px;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
  font-family: "Muli";
}
.read {
  font-size: 13px;
  letter-spacing: 0.39px;
}
.latest-article {
  margin-bottom: 169px;
}
.rosateam {
  display: flex;
  justify-content: center;
}
.teams {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 85px;
  margin-bottom: 155px;
}
.rosa-titles {
  text-align: center;
}
.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-right: 80px;

  width: 230px;
  height: 190px;
}
.rosa-description {
  position: absolute;
  top: 5%0;
  right: 0;
  display: flex;
  justify-content: center;

  flex-direction: column;
  text-align: center;
  opacity: 0;
}

.rosa-description:hover {
  opacity: 1;
  border: 4px solid #e93656;
  padding: 40px 35px;
  background-color: #ffffff;
}
.rosa-description h4 {
  font-size: 16px;
  letter-spacing: 0.32px;
  font-family: "Poppins-SemiBold";

  color: #161616;
}
.rosa-description p {
  font-size: 13px;
  text-align: center;
  letter-spacing: 0.39px;
  font-family: "Roboto-Light";
  color: #626262;
}
.team img {
  width: 129px;
  height: 110px;
}

.rosa-titles p {
  font-size: 14px;
  color: #2ed279;
  font-family: "Bold";
}
.rosa-titles h2 {
  font-size: 70px;
  font-family: "Bold";
}
